@keyframes start{
    0%{
        transform: scale(0);
    }

    25%{
        transform: scale(2);
    }

    45%{
        transform: scale(.10);
    }

    70%{
        transform: scale(3);
    }

    85%{
        transform: scale(.9);
    }

    100%{
        transform: scale(2);
    }


}